.about {
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-card {
  width: 900px;
  border-radius: 20px;
  background: white;
  padding: 40px;

  display: flex;             
  justify-content: space-between;
  align-items: center;

  gap: 50px;
  overflow: hidden;
}

.about-card img {
  width: 100%;
  object-fit: cover;
}

.about-content {
  width: 50%;
}

.about-content h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: rgb(49, 78, 243);
}

.about-content p {
  line-height: 1.8;
  color: gray;
  font-weight: 16px;
}

.about-images {
  position: relative;
  width: 200px; 
  height: 150px;
}

.img1 {
  object-fit: cover;
  border-radius: 20px;
}

.img2 {
  object-fit: cover;
  border-radius: 20px;

  position: absolute;
  bottom: -100px;
  right: -80px;

  transform: rotate(10deg);

  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.img3 {
  object-fit: cover;
  border-radius: 20px;

  position: absolute;
  bottom: 80px;
  right: 90px;

  transform: rotate(-10deg);

  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.img4 {
  object-fit: cover;
  border-radius: 20px;

  position: absolute;
  bottom: 90px;
  right: 80px;

  transform: rotate(-10deg);

  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.choose-us {
  margin-top: 80px;
  text-align: center;
}

.choose-us h2 {
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
}

.choose-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.choose-card {
  background: rgba(255,255,255,0.9);
  padding: 25px;
  border-radius: 20px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.choose-card h3 {
  margin-bottom: 15px;
  color: #0f4c75;
}

.choose-card p {
  color: #555;
  line-height: 1.6;
}
