.navbar {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background: linear-gradient(to right, #119979, #09e95e);
}

.iconText {
  display: flex;
  align-items: center;
  color: rgb(35, 35, 99);
  gap: 5px;
  font-size: 18px;  
  /* font-style: italic; */
}

.iconImg {
  width: 40px;
  height: 40px;
}

.navLinks {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.navLinks a {
  color: rgb(35, 35, 99);
  text-decoration: none;
  font-size: 16px;
}

.navLinks a:hover {
  color: white;
}